.footer{
    height: 15rem;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
   p{
      color: white;
      text-align: center;
      margin-top: 50px;
      font-size: 80%;
    }
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.logos p{
    color: rgb(194, 194, 194);
    margin-left: 50px;
    font-size: 50%;
}


.logos a{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color:rgb(194, 194, 194);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
    margin: 30px 0px 0px 30px;
    transition: 0.2s;
}

.logos a:hover{
    background-color: #54E8C7;
}
.logos a:last-child{
    margin-right: 50px;
}