
.contenedor-login{
  margin: 10% 10% 10% 10%;
  background: rgba(255, 255, 255, 0.411);
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);


  
  form .title{
    display: flex;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
    justify-content: center;
  }
    
  
  form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
  }

  form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
  }

  form .subr::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
  }

  form .subr::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
  }

  form .input-box input:focus ~ .subr::after,
.container form .input-box input:valid ~ .subr::after{
  transform: scaleX(1);
  transform-origin: left;
}

form .button{
    margin: 40px 0 20px 0;
  }

  .input-box input[type="submit"]{
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
  }

  .option{
    font-size: 14px;
    text-align: center;
  }

 
  .register{
    border-radius: 2%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    a{
      color: black;

      &:hover{
        color: #99004d;
      }
    }
  }
}




.login{
  height: 1000px;
}


